section.achievements
    h2.title.title--angled
        | Ключевые цифры
    ul.achievements__list
        li.achievements__item
            +svg("staff")(class="achievements__img achievements__img--staff" width="144" height="95")
            div.achievements__content
                p.achievements__caption
                    | 80 000
                p.achievements__description
                    | Сотрудников
        li.achievements__item.achievements__item--chart
            +svg("chart")(class="achievements__img achievements__img--chart" width="126" height="95")
            div.achievements__content
                p.achievements__caption
                    | 9.690м
                p.achievements__description
                    | Доход за 2019
        li.achievements__item
            +svg("pie-chart")(class="achievements__img achievements__img--pie-chart" width="144" height="124")
            div.achievements__content
                p.achievements__caption
                    | 36%
                p.achievements__description
                    | Доход от филиала в стране
        li.achievements__item
            +svg("earth")(class="achievements__img achievements__img--earth" width="118" height="118")
            div.achievements__content
                p.achievements__caption
                    | 100 +
                p.achievements__description
                    | Стран
