section.agencies
    h2.title.title--angled
     | Наши агентства
    div.agencies__list.owl-carousel.owl-theme
        div.agencies__item
            +svg("starcom")(class="agencies__img agencies__img--starcom" width="130" height="109")
        div.agencies__item
            +svg("spark")(class="agencies__img agencies__img--spark" width="130" height="30")
        div.agencies__item
            +svg("zenith")(class="agencies__img agencies__img--zenith" width="130" height="84")
        div.agencies__item
            +svg("performics")(class="agencies__img agencies__img--performics" width="130" height="23")
        div.agencies__item
            +svg("starcom")(class="agencies__img agencies__img--starcom" width="130" height="109")
        div.agencies__item
            +svg("spark")(class="agencies__img agencies__img--spark" width="130" height="30")
        div.agencies__item
            +svg("zenith")(class="agencies__img agencies__img--zenith" width="130" height="84")
        div.agencies__item
            +svg("performics")(class="agencies__img agencies__img--performics" width="130" height="23")
        div.agencies__item
            +svg("starcom")(class="agencies__img agencies__img--starcom" width="130" height="109")
        div.agencies__item
            +svg("spark")(class="agencies__img agencies__img--spark" width="130" height="30")
        div.agencies__item
            +svg("zenith")(class="agencies__img agencies__img--zenith" width="130" height="84")
        div.agencies__item
            +svg("performics")(class="agencies__img agencies__img--performics" width="130" height="23")
