section.agencies
    h2.title
     | Наши агентства
    ul.agencies__list
        li.agencies__item.agencies__item--starcom
        li.agencies__item.agencies__item--spark
        li.agencies__item.agencies__item--zenith
        li.agencies__item.agencies__item--performis
        li.agencies__item.agencies__item--starlink
    div.agencies__pager
        div.agencies__pager-item
    div.agencies__controls
        div.agencies__arrow.agencies__arrow--left
        div.agencies__arrow.agencies__arrow--right