section.agencies
    h2.title
     | Наши агентства
    ul.agencies__list
        li.agencies__item.agencies__item--starcom
            +svg("starcom", 130, 109)
        li.agencies__item.agencies__item--spark
            +svg("spark", 130, 30)
        li.agencies__item.agencies__item--zenith
            +svg("zenith", 130, 84)
        li.agencies__item.agencies__item--performics
            +svg("performics", 130, 23)
    div.agencies__pager
        div.agencies__pager-item
    div.agencies__controls
        div.agencies__arrow.agencies__arrow--left
        div.agencies__arrow.agencies__arrow--right