section.clients
    h2.title.title--angled
        | Наши клиенты
    ul.clients__list
        li.clients__item.clients__item--philip-morris
        li.clients__item.clients__item--procter-and-gamble
        li.clients__item.clients__item--mcdonalds
        li.clients__item.clients__item--wbd
        li.clients__item.clients__item--philip-morris
        li.clients__item.clients__item--procter-and-gamble
        li.clients__item.clients__item--mcdonalds
        li.clients__item.clients__item--wbd
        li.clients__item.clients__item--baltika
    div.clients__controls
        div.clients__arrow.clients__arrow--left
        div.clients__arrow.clients__arrow--right
    button.clients__more
        | Показать ещё