section.clients
    h2.title.title--angled
        | Наши клиенты
    ul.clients__list.owl-carousel
        li.clients__item.clients__item--philip-morris
        li.clients__item.clients__item--procter-and-gamble
        li.clients__item.clients__item--mcdonalds
        li.clients__item.clients__item--wbd
        li.clients__item.clients__item--philip-morris
        li.clients__item.clients__item--procter-and-gamble
        li.clients__item.clients__item--mcdonalds
        li.clients__item.clients__item--wbd
        li.clients__item.clients__item--baltika
    button.more(
        aria-label="Показать ещё"
    )
        | Показать ещё
