div.hero
    p.hero__title
     | Сеть медиаагентств
    ul.hero__list
        li.hero__item
            | Данные и технологии
        li.hero__item
            | Аналитика
        li.hero__item
            | Исследования
        li.hero__item
            | Контент
        li.hero__item
            | Производительность
        li.hero__item
            | Покупка и развитие бизнеса