div.intro
    div.intro__media
        img.intro__img(
            src="images/intro/logo-big.svg"
            width="270"
            height="225"
            alt="Логотип"
        )
    div.intro__content
        p
            b
                | Publicis Media
            |  &mdash; один из четырех хабов рекламно-коммуникационного холдинга
            | Publicis Groupe, наряду с
            |
            b
                | Publicis Communications
            | ,
            |
            b
                | Publicis.Sapient
            |  и
            |
            b
                | Publicis Healthcare
            |.
        p
            | Publicis Media присутствует более чем в 100 странах, объединяя 80+ тысяч сотрудников по
            | всему миру. На глобальном уровне Publicis Media возглавляет Стив Кинг. В России хаб
            | представлен пятью глобальными медийными агентствами &mdash;
            |
            b
                | Starcom
            |,
            |
            b
                | Zenith
            |,
            |
            b
                | Spark Foundry
            |,
            |
            b
                | Blue 449
            |  и
            | Performics
            | (последнее одновременно выполняет функции практики в составе
            | группы).
        p
            |Развитие агентств поддерживают семь глобальных практик с акцентом на digital и data,
            | а также эффективность и развитие бизнеса клиентов —
        ul
            li
                | Data, Technology & Innovation
            li
                | Content
            li
                | Trading & Buying
            li
                | Performance
            li
                | Business Development & Communications
            li
                |  Business Transformation и Analytics
            li
                |  Research & Insight
        p
            | Кроме того, в состав Publicis Media в России входит агентство
            |
            b
                | Starlink
            |.
            |
            b
                | Publicis Media Russia
            | входит в тройку крупнейших российских медиагрупп по рейтингам
            | газеты «Коммерсантъ», отраслевого портала Adindex и некоммерческой организации АКАР.
            | Мы помогаем клиентам ориентироваться в современном медиаландшафте.