.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
resources/
shrinkwrap.yaml
.sass-cache/
libs/
sass/vendors/
*.map
bower_components/
build/
zip/
aero-debug.log
aero-deploy.tar.gz
