@media (min-width: rem($laptop-width)) {
  .agencies {
    background-image:
            linear-gradient(rgba($black, 0.7), rgba($black, 0.7)),
            url("../images/agencies/agencies-laptop.jpg");
  }

  .agencies__img {

    &--starcom {
      width: rem(144);
      height: rem(121);
      transform: translate(4px, -61px);
    }

    &--spark {
      width: rem(166);
      height: rem(38);
      transform: translate(-1px, -7px);
    }

    &--zenith {
      width: rem(152);
      height: rem(98);
      transform: translate(-5px, -24px);
    }

    &--performics {
      transform: translate(-15, -14px);
    }
  }
}