@media (min-width: rem($laptop-width)) {
  .intro {
    margin-bottom: rem(127);
    padding-top: rem(50);
    padding-right: rem(122);
    padding-left: rem(122);
  }

  .intro__media {
    margin-right: rem(63);
  }

  .intro__img {
    margin: rem(144) 0 0 0;
    width: rem(270);
    height: rem(224);
    max-width: none;
  }
}