.agencies {
  padding-bottom: rem(29);
  background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url("../images/agencies/agencies-mobile.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba($black, 0.7);
}

.agencies__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(42);
  @include unstyle-list;
}

.agencies__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: rem(9);
  height: auto;
  min-height: rem(100);
}

.agencies__img {
  width: 100%;
  height: auto;

  &--bottom {}

  &--spark {
    transform: translateY(-62%);
  }

   &--performics {
     transform: translateY(-147%);
  }
}

.agencies__pager,
.agencies__controls {
  display: none;
}