.clients {
  padding-bottom: rem(58);
  background-color: $color-gallery;
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include unstyle-list;
  margin: rem(22) auto rem(38) auto;
  padding: 0;
  max-width: rem(274);
}

.clients__item {
  position: relative;
  display: block;
  width: rem(137);
  height: rem(137);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/sprite.png");
    background-position-x: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--philip-morris::before {
    background-position-y: rem(-260);
  }

  &--mcdonalds::before {
    background-position-y: rem(-124);
  }

  &--procter-and-gamble::before {
    background-position-y: rem(-396);
  }

  &--wbd::before {
    background-position-y: rem(-532);
  }

  &--baltika::before {
    background-position-y: rem(0);
  }
}
