.hero {
  position: relative;
  padding: rem(50) rem(30) rem(94) rem(39);
  background-image:
          linear-gradient(-45deg, rgba($muddy-waters, 0.4) 50%, transparent 50%),
          url("../images/hero/hero-mobile.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  font-size: rem(29);
  text-transform: uppercase;
  line-height: rem(47);
  color: $white;
}

.hero__list {
  @include unstyle-list;
  font-size: rem(16);
  text-transform: uppercase;
  color: $white;
}

.hero__item {
  line-height: rem(30);
}