.header {
  position: relative;
  padding-top: rem(12);
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: rem(16);
}

.logo__img {
  display: block;
  width: rem(79);
  height: rem(65);
  margin: 0 auto;
}
