@media (min-width: rem($phablet-width)) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: auto;
    margin-right: rem(33);
  }

  .logo__img {
    margin-left: rem(72);
  }
}