@media (min-width: rem($phablet-width)) {
  .agencies {
    position: relative;
    padding-bottom: rem(29);
    background-image:
            linear-gradient(rgba($black, 0.7), rgba($black, 0.7)),
            url("../images/agencies/agencies-phablet.jpg");
  }

  .agencies__list {
    display: block;
    margin: rem(141) auto rem(62) auto;
    max-width: 81.2%;
  }

  .agencies__item {
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: rem(220);

    &--center {
      justify-content: center;
    }
  }

  .agencies__img {
    width: auto;

    &--starcom {
      width: rem(118);
      height: rem(99);
      transform: translate(14px, -53px);
    }

    &--spark {
      width: rem(136);
      height: rem(32);
      transform: translate(-1px, -11px);
    }

    &--zenith {
      width: rem(125);
      height: rem(81);
      transform: translate(-18px, -25px);
    }

    &--performics {
      width: rem(151);
      height: rem(27);
      transform: translate(0, -14px);
    }
  }

  .agencies__controls {
    display: block;
    margin-bottom: rem(41);
  }

  .agencies__arrow {
    position: absolute;
    top: 27%;
    border: 0;
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    background-color: unset;

    &::after {
      content: "";
      display: block;
      border: 1px solid $white;
      width: rem(20);
      height: rem(20);
    }

    &--left:active,
    &--left:focus,
    &--right:active,
    &--right:focus {
      outline: none;
    }

    &--left {
      left: 0;

      &::after {
        border-top-width: 0;
        border-right-width: 0;
        transform: rotate(45deg);
        transform-origin: 45% 45%;
      }

      &:hover::before {
        content: "";
        position: absolute;
        left: -39%;
        top: -16%;
        display: block;
        border-radius: 50%;
        width: rem(54);
        height: rem(54);
        background-color: rgba($white, 0.05);
      }
    }

    &--right {
      right: 0;

      &::after {
        border-bottom-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
        transform-origin: 73% 110%;
      }

      &:hover::before {
        content: "";
        position: absolute;
        left: 5%;
        top: -16%;
        display: block;
        border-radius: 50%;
        width: rem(54);
        height: rem(54);
        background-color: rgba($white, 0.05);
      }
    }

    span {
      display: none;
    }
  }

  .agencies__pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .agencies__pager-item {
    border-width: 0;
    border-radius: 50%;
    margin: 0 rem(20) 0 0;
    padding: 0;
    width: rem(13);
    height: rem(13);
    background-color: $white;

    &:last-of-type {
      margin-right: 0;
    }

    &.active,
    &--active {
      background-color: $muddy-waters;
    }
  }
}