extends pug/base

append vars
    - html.classList.push('page page--career')
    - page = 'career'
    include pug/common/meta


block content
    include pug/common/header
    include pug/common/footer
