extends pug/base

append vars
    - html.classList.push('page page--index')
    - page = 'index'
    - link.appleTouchIconPrecomposed = 'images/icons/apple-touch-icon-precomposed.png'
    - link.appleTouchIconPrecomposed180x180 = 'images/icons/apple-touch-icon.png'
    - link.icon32x32 = 'images/icons/favicon-32x32.png'
    - link.icon16x16 = 'images/icons/favicon-16x16.png'
    - link.shortcutIcon = 'images/icons/favicon.ico'
    - link.manifest = 'images/icons/site.webmanifest'
    - link.maskIcon.href = 'images/icons/safari-pinned-tab.svg'
    - link.maskIcon.color = '#5bbad5'
    - meta.msapplicationTileColor = '#ba9765'
    - meta.msapplicationTileImage = 'images/icons/mstile-144x144.png'
    - meta.msapplicationConfig = 'images/icons/browserconfig.xml'
    - meta.themeColor = '#ba9765'

block content
    include pug/common/header
    include pug/index/main
    include pug/common/footer
