extends pug/base

append vars
    - html.classList.push('page page--index')
    - page = 'index'
    include pug/common/meta

block content
    include pug/common/header
    include pug/index/main
    include pug/common/footer
