.toggler {
  position: absolute;
  left: rem(29);
  top: rem(27);
  margin: 0;
  border: 0;
  padding: 0;
  width: rem(48);
  height: rem(48);
  background-color: transparent;
}

.toggler__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.toggler__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border: 0;
  width: rem(30);
  height: rem(3);
  background-color: $black;
  transform: translateX(-50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: rem(30);
    height: rem(3);
    background-color: currentColor;
  }

  &::before {
    top: rem(-9);
  }

  &::after {
    top: rem(9);
  }
}

.more {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid $black;
  padding: rem(12) rem(60);
  font-size: rem(16);
  line-height: rem(21);
  text-transform: uppercase;
  background-color: unset;
  transform: translateZ(0);
  cursor: pointer;

  &::before {
    content: attr(aria-label);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: rem(12) rem(60);
    width: 110%;
    height: 110%;
    background-color: $black;
    transform: translateY(100%);
    transition: all 0.2s ease;
  }

  &:hover {
    &::before {
      color: $white;
      transform: translateY(0);
    }
  }
}

@media (min-width: rem(768)) {
  .toggler {
    @include visually-hidden;
  }
}
