header.header
    a.logo(
        href=(page !== 'index') ? 'index.html': null
    )
        img.logo__img(
            src="images/logo.svg"
            alt="Логотип компании Publicis Media"
        )
    include navigation
    include ../index/hero
